<template>
  <div id="list">
    <div class="title_half">
      <h3>Список</h3>
    </div>
    <div class="list_coords">
      <ul class="elements_list">
        <li
          @click="select_element($event, index)"
          class="element_list"
          v-bind:key="index"
          v-for="(element_map, index) in yandex_map"
        >Название: {{ element_map.name }}<br/>Описание: {{ element_map.description }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    name: "List",

    props: [
      'yandex_map',
      'change_selected'
    ],

    methods: {

      select_element(element, index) {
        if (document.getElementById('selected')) {
          document.getElementById('selected').removeAttribute("id");
        }
        this.change_selected(index);
        element.target.setAttribute('id', 'selected');
      }

    }
  }
</script>

<style scoped>
  .list_coords {
    height: 100%;
  }

  .element_list {
    width: 90%;
    border-bottom: solid 0.5px darkgray;
    margin: 5px;
  }

  .elements_list > .element_list {
    padding: 5px;
    cursor: pointer;
  }

  .elements_list > .element_list:hover {
    background: #e5e5e5;
  }

  #selected {
    background: #ffe900;
  }
</style>
