<template>
  <div id="map">
    <div class="title_half">
      <h3>Карта</h3>
    </div>
    <div class="yandex_map">
      <div v-if="yandex_map != null">
        <yandex-map :cluster-options="{ 1: {clusterDisableClickZoom: true} }"
                    :coords="yandex_map.coords"
                    :placemarks="yandex_markers"
                    :settings="settings"
                    :zoom="15"
                    @click="onClick"
                    class="map">
        </yandex-map>
      </div>
      <div v-else>
        <yandex-map :cluster-options="{ 1: {clusterDisableClickZoom: true} }"
                    :coords="[55.76, 37.64]"
                    :placemarks="yandex_markers"
                    :settings="settings"
                    :zoom="10"
                    @click="onClick"
                    @map-was-initialized="initHandler"
                    class="map">
        </yandex-map>
      </div>
    </div>
  </div>
</template>

<script>
  import {yandexMap, ymapMarker} from 'vue-yandex-maps';

  export default {

    name: "Map",
    components: {
      yandexMap,
      ymapMarker
    },
    props: [
      'yandex_map',
      'yandex_markers'
    ],
    data() {
      return {
        settings: { // you may define your apiKey, lang and version or skip this.
          apiKey: '70918cd7-2d33-43d6-838f-b8b1c4ba983f',
          lang: 'ru_RU',
          version: '2.1'
        }
      }
    },
    methods: {
      initHandler(e) {
        let location = ymaps.geolocation;
        location.get({
          mapStateAutoApply: true
        }).then(
          result => {
            // Добавление местоположения пользователя.
            e.geoObjects.add(result.geoObjects);
          },
          function (err) {
            console.log('Ошибка: ' + err)
          }
        );

      },

      onClick(e) {
        console.log(this.myLocation.coords);
        // this.data.coords = e.get('coords');
      }
    },

  }
</script>

<style scoped>
  .ymap-container {
    height: 600px;
  }
</style>
