<template>
  <div id="app">
    <List :change_selected='change_selected' :yandex_map="yandex_map"></List>
    <YandexMap :yandex_map="selected" :yandex_markers="yandex_map"></YandexMap>
  </div>
</template>

<script>
  import YandexMap from './components/Map.vue'
  import List from './components/List.vue'

  export default {
    components: {
      List,
      YandexMap
    },

    name: 'app',

    data() {
      return {
        yandex_map: [
          {
            name: 'My location',
            description: '',
            coords: [58.60121849999999, 49.666749599999996],
            clusterName: "1",
            properties: {}, // define properties here
            options: {}, // define options here
          },
          {
            name: "Moscow1",
            description: "text text",
            coords: [56.73367, 37.587874],
            clusterName: "1",
            properties: {}, // define properties here
            options: {}, // define options here
          },
          {
            name: "Moscow",
            description: "text text",
            coords: [57.73367, 37.587874],
            clusterName: "1",
            properties: {}, // define properties here
            options: {}, // define options here
          },
          {
            name: "Moscow",
            description: "text text",
            coords: [58.73367, 37.587874],
            clusterName: "1",
            properties: {}, // define properties here
            options: {}, // define options here
          },
          {
            name: "Minsk",
            description: "text text",
            coords: [53.890691, 27.525566],
            clusterName: "1",
            properties: {}, // define properties here
            options: {}, // define options here
          }
        ],
        selected: null
      }
    },

    methods: {
      change_selected(index) {
        this.selected = this.yandex_map[index];
        this.selected.options.preset = 'islands#redIcon'
      }
    }

  }
</script>

<style lang="scss">
  * {
    margin: 0;
  }

  #app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
    margin: 20px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  #map, #list {
    border: solid 0.5px black;
    width: 45%;
  }

  .title_half {
    height: 40px;
    border-bottom: solid 0.5px black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

</style>
